In [1]:
import pandas as pd

In [3]:
# Read the Excel file
data = pd.read_excel("C:\\Users\\ASUS\\Desktop\\PROJECTS_DS\\Delloite-STEM-virtual-internship\\task 5\\Task 5 Equality Table.xlsx")

In [4]:
# display the file 
data

                  Factory             Job Role  Equality Score
0   Daikibo Factory Meiyo              C-Level             -25
1   Daikibo Factory Meiyo                   VP             -26
2   Daikibo Factory Meiyo             Director             -19
3   Daikibo Factory Meiyo          Sr. Manager             -15
4   Daikibo Factory Meiyo              Manager             -14
5   Daikibo Factory Meiyo          Jr. Manager             -20
6   Daikibo Factory Meiyo         Sr. Engineer              -5
7   Daikibo Factory Meiyo             Engineer              -8
8   Daikibo Factory Meiyo         Jr. Engineer               3
9   Daikibo Factory Meiyo  Operational Support             -22
10  Daikibo Factory Meiyo     Machine Operator              -7
11  Daikibo Factory Seiko                   VP             -19
12  Daikibo Factory Seiko             Director             -10
13  Daikibo Factory Seiko          Sr. Manager             -21
14  Daikibo Factory Seiko              Manager             -21
15  Daikibo Factory Seiko          Jr. Manager             -24
16  Daikibo Factory Seiko         Sr. Engineer              -4
17  Daikibo Factory Seiko             Engineer              -7
18  Daikibo Factory Seiko         Jr. Engineer               4
19  Daikibo Factory Seiko  Operational Support             -19
20  Daikibo Factory Seiko     Machine Operator              -5
21         Daikibo Berlin          Sr. Manager             -15
22         Daikibo Berlin              Manager             -16
23         Daikibo Berlin          Jr. Manager             -17
24         Daikibo Berlin         Sr. Engineer               4
25         Daikibo Berlin             Engineer               2
26         Daikibo Berlin         Jr. Engineer               4
27         Daikibo Berlin  Operational Support               0
28         Daikibo Berlin     Machine Operator              -6
29       Daikibo Shenzhen          Sr. Manager             -21
30       Daikibo Shenzhen              Manager             -19
31       Daikibo Shenzhen          Jr. Manager             -20
32       Daikibo Shenzhen         Sr. Engineer              -5
33       Daikibo Shenzhen             Engineer              -4
34       Daikibo Shenzhen         Jr. Engineer               3
35       Daikibo Shenzhen  Operational Support              -7
36       Daikibo Shenzhen     Machine Operator              -7

In [5]:
data.shape

(37, 3)

In [7]:
data.describe()

       Equality Score
count       37.000000
mean       -11.027027
std          9.417733
min        -26.000000
25%        -19.000000
50%        -10.000000
75%         -5.000000
max          4.000000

In [9]:
# Define a function to classify the equality score
def classify_score(Score):
    if abs(Score) <= 10:
        return 'Fair'
    elif abs(Score) > 20:
        return 'Highly Discriminative'
    else:
        return 'Unfair'

In [10]:
# Add the Equality class column
data['Equality class'] = data['Equality Score'].apply(classify_score)

In [11]:
data

,Factory,Job Role,Equality Score,Equality class
0,Daikibo Factory Meiyo,C-Level,-25,Highly Discriminative
1,Daikibo Factory Meiyo,VP,-26,Highly Discriminative
2,Daikibo Factory Meiyo,Director,-19,Unfair
3,Daikibo Factory Meiyo,Sr. Manager,-15,Unfair
4,Daikibo Factory Meiyo,Manager,-14,Unfair
5,Daikibo Factory Meiyo,Jr. Manager,-20,Unfair
6,Daikibo Factory Meiyo,Sr. Engineer,-5,Fair
7,Daikibo Factory Meiyo,Engineer,-8,Fair
8,Daikibo Factory Meiyo,Jr. Engineer,3,Fair
9,Daikibo Factory Meiyo,Operational Support,-22,Highly Discriminative
10,Daikibo Factory Meiyo,Machine Operator,-7,Fair
11,Daikibo Factory Seiko,VP,-19,Unfair
12,Daikibo Factory Seiko,Director,-10,Fair
13,Daikibo Factory Seiko,Sr. Manager,-21,Highly Discriminative
14,Daikibo Factory Seiko,Manager,-21,Highly Discriminative
15,Daikibo Factory Seiko,Jr. Manager,-24,Highly Discriminative
16,Daikibo Factory Seiko,Sr. Engineer,-4,Fair
17,Daikibo Factory Seiko,Engineer,-7,Fair
18,Daikibo Factory Seiko,Jr. Engineer,4,Fair
19,Daikibo Factory Seiko,Operational Support,-19,Unfair
20,Daikibo Factory Seiko,Machine Operator,-5,Fair
21,Daikibo Berlin,Sr. Manager,-15,Unfair
22,Daikibo Berlin,Manager,-16,Unfair
23,Daikibo Berlin,Jr. Manager,-17,Unfair
24,Daikibo Berlin,Sr. Engineer,4,Fair
25,Daikibo Berlin,Engineer,2,Fair
26,Daikibo Berlin,Jr. Engineer,4,Fair
27,Daikibo Berlin,Operational Support,0,Fair
28,Daikibo Berlin,Machine Operator,-6,Fair
29,Daikibo Shenzhen,Sr. Manager,-21,Highly Discriminative
30,Daikibo Shenzhen,Manager,-19,Unfair
31,Daikibo Shenzhen,Jr. Manager,-20,Unfair
32,Daikibo Shenzhen,Sr. Engineer,-5,Fair
33,Daikibo Shenzhen,Engineer,-4,Fair
34,Daikibo Shenzhen,Jr. Engineer,3,Fair
35,Daikibo Shenzhen,Operational Support,-7,Fair
36,Daikibo Shenzhen,Machine Operator,-7,Fair

In [12]:
# Save the modified DataFrame to a new Excel file
data.to_excel('C:\\Users\\ASUS\\Desktop\\PROJECTS_DS\\Delloite-STEM-virtual-internship\\task 5\\Equality Table with Class.xlsx', index=False)